/* Navbar.css */
.nav-links {
    display: flex;
    justify-content: space-around; /* Evenly spread out links */
    align-items: center;
    padding: 10px 0; /* Vertical padding for the bar */
    margin: 0; /* No margin around the bar */
    border: none; /* No border for a clean look */
  }
  
  .nav-button {
    color: #0d47a1; /* Dark blue text color */
    text-decoration: none; /* Remove underline */
    font-size: 18px; /* Adjust text size */
    font-weight: 500; /* Medium font weight */
    transition: color 0.3s ease;
  }
  
  .nav-button:hover {
    color: #002171; /* Slightly darker blue on hover */
  }
  .wallet-button {
    padding: 10px 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .wallet-button:hover {
    background-color: #45a049;
  }